# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
pp = pprint.PrettyPrinter(indent=4)

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = '../output_data/city_data.csv'
city_data = pd.read_csv(city_data_df)
city_data = city_data.dropna()
city_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,tuktoyaktuk,69.45,-133.04,53.60,87,75,4.61,CA,1661644020
1,1,cidreira,-30.18,-50.21,64.54,82,0,1.59,BR,1661643821
2,2,punta arenas,-53.15,-70.92,41.11,75,40,24.16,CL,1661643862
3,3,yellowknife,62.46,-114.35,68.52,42,75,3.44,CA,1661643946
4,4,busselton,-33.65,115.33,50.97,71,81,9.78,AU,1661644021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#API Key
gmaps.configure(api_key=g_key)

#Lat and Lng
lat_lng = city_data[['Lat', 'Lng']]

#Humidity
hum = city_data['Humidity']

In [4]:
#Google map
fig = gmaps.figure(zoom_level = 1.8, center = (5,5))

heatmap_layer = gmaps.heatmap_layer(lat_lng, weights = hum, max_intensity=100)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
ideal_weather = city_data.loc[(city_data['Max Temp']<80) & (city_data['Max Temp']>70) & (city_data['Wind Speed']<10) & (city_data['Cloudiness']== 0)]
ideal_weather

#Dropped null values in the beginning

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
50,50,jamestown,42.10,-79.24,71.24,73,0,9.22,US,1661643743
62,62,mao,39.89,4.27,72.16,88,0,1.14,ES,1661644045
136,136,erzin,36.96,36.20,74.26,64,0,1.79,TR,1661644070
252,252,troy,42.61,-83.15,76.93,59,0,3.44,US,1661643852
311,311,sao miguel do iguacu,-25.35,-54.24,74.64,69,0,3.87,BR,1661644132
457,457,podgornoye,51.73,39.15,71.82,35,0,6.71,RU,1661644140
461,461,canandaigua,42.87,-77.29,70.03,72,0,5.41,US,1661644188
484,484,nushki,29.55,66.02,77.07,36,0,0.18,PK,1661644196
530,530,tartagal,-22.52,-63.80,76.69,37,0,5.06,AR,1661644216
558,558,costinesti,43.95,28.63,71.06,56,0,7.70,RO,1661644230
567,567,isa khel,36.67,68.84,71.78,18,0,3.85,AF,1661644234

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_weather[['City', 'Lat', 'Lng', 'Country']].copy()
hotel_df['Hotel Name'] = ''
hotel_df

                     City    Lat    Lng Country Hotel Name
50              jamestown  42.10 -79.24      US
62                    mao  39.89   4.27      ES
136                 erzin  36.96  36.20      TR
252                  troy  42.61 -83.15      US
311  sao miguel do iguacu -25.35 -54.24      BR
457            podgornoye  51.73  39.15      RU
461           canandaigua  42.87 -77.29      US
484                nushki  29.55  66.02      PK
530              tartagal -22.52 -63.80      AR
558            costinesti  43.95  28.63      RO
567              isa khel  36.67  68.84      AF

In [7]:
#Parameter dictionary
param = {'radius':5000, 'types':'lodging', 'key':g_key}

In [8]:
#Loop
for i,row in hotel_df.iterrows():
    idlat = row['Lat']
    idlng = row['Lng']
    param['location'] = f'{idlat},{idlng}'
    url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    geturl = requests.get(url,params = param).json()
    #print test
    #print(geturl['results'][0]['name'])
    hotel_df.loc[i,'Hotel Name']=geturl['results'][0]['name']

In [9]:
hotel_df

,City,Lat,Lng,Country,Hotel Name
50,jamestown,42.10,-79.24,US,Hampton Inn & Suites Jamestown
62,mao,39.89,4.27,ES,ARTIEM Capri
136,erzin,36.96,36.20,TR,Artemis Otel
252,troy,42.61,-83.15,US,Embassy Suites by Hilton Detroit Troy Auburn H...
311,sao miguel do iguacu,-25.35,-54.24,BR,Hotel Itaguaçu
457,podgornoye,51.73,39.15,RU,"O 'Hara's Irish Pub, restaurant, hotel"
461,canandaigua,42.87,-77.29,US,The Inn On The Lake
484,nushki,29.55,66.02,PK,Al Noor Palastic Cresh godam Gharib Abad Nushki
530,tartagal,-22.52,-63.80,AR,Almuñecar Hotel
558,costinesti,43.95,28.63,RO,Villa Mar Bella
567,isa khel,36.67,68.84,AF,Khalid Home

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,info_box_content = hotel_info)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))